server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/product
    username: root
    password: root1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  application:
    name: PRODUCT-SERVICE
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  config:
    import: configserver:http://localhost:9296
order:
  service:
    url: http://localhost:8083/order

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans


